
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

</head>
<body>
    <h1>Feeding Station Dashboard</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Location</th>
                <th>Size</th>
                <th>Food Level</th>
                  <th>Water Level</th>
                <th>Last Visited</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each feedingStations}}
<tr>
  <td>{{this.location}}</td>
  <td>{{this.size}}</td>
  <td>{{this.foodLevel}}</td>
  <td>{{this.waterLevel}}</td>
 <td>{{  this.lastVisitDate}}</td>
  <td>{{this.status}}</td>
</tr>
{{/each}}

        </tbody>
    </table>

</body>
</html>
