<!DOCTYPE html><!--
* CoreUI - Free Bootstrap Admin Template
* @version v4.2.2
* @link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2023 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
--><!-- Breadcrumb-->

<html lang="en">
  <head>
   
    <title>HomePage</title>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="css/examples.css" rel="stylesheet">
    <link href="vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
  </head>
  <body>
       
       
        
  
<style>h2,h3{
    text-decoration: underline;
}
#body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    padding: 20px; /* Add padding for better visibility */
}

.card {
    width: 100%;
    border: 1px solid white; /* Add border to represent grid lines */
    color: black;
}


</style>
    <div class="container-fluid">
        <header class="header">
           <svg class="sidebar-brand-full" width="118" height="46" alt="Stray Cat Feeding System">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-cat"><h1>STRAY CAT FEEDING     SYSTEM</h1></use>
          
        </svg>
            <div class="header-nav">
                 <svg  width="20" height="40" alt="Home">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-home"><p><a class="nav-item nav-link active" href="#">Home</a></p></use>
          
        </svg>
                
              
                        <svg  width="20" height="40" alt="login">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"><p>  <a class="nav-item nav-link" href="/login">Login</a></p></use>
          
        </svg>
                 <svg  width="20" height="40" alt="regsiter">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user-follow"><p>  <a class="nav-item nav-link" href="/register">Sign Up</a></p></use>
          
        </svg>
            </div>
        </header>

        <div class="container-fluid">
            <p></p>
            <div class="p-5 text-center text-bg-primary border border-dark rounded -3">
                <div class="container py-5">
                    <h1 class="text-body-emphasis">We are pleased to have you with us</h1>
                    <p class="col-lg-8 mx-auto lead">
                       <h2>About Us</h2>
                       <BR>
  <p>The Stray Cat Feeding System website is a collaborative effort between <strong>OUR TEAM</strong> and the <strong>COMMUNITY</strong> in Qatar. We are passionate about animal welfare and committed to improving the lives of stray cats in our community.</p>

                    </p>
                </div>
                
            </div>
            <br>
            <div class="p-5 text-center text-bg-primary border border-dark rounded -3">
                <div class="container py-5">
                   
                    <p class="col-lg-8 mx-auto lead">
  <h3>Our Mission</h3>
  <br>
  <ul>
    <li>Connecting cat lovers with feeding locations: We provide a platform for volunteers to locate feeding stations and contribute to the well-being of stray cats.</li>
    <li>Promoting transparency and accountability: We offer a way for volunteers to report on their visits to feeding stations, including details about food and water levels and any observed health concerns.</li>
    <li>Supporting the work of the local animal shelter: The information gathered through this system will assist the shelter in efficiently managing resources and allocating support to areas with the greatest need.</li>
  </ul>

                    </p>
                </div>
                      
        </div>
        <br>
          <div class="p-5 text-center text-bg-primary border border-dark rounded -3">
            <h3>Posts</h3>
                <div class="container py-5" id="body">
                  
                  {{#each posts}}
                    <div class="card border-primary mb-3 rounded " style="width: 20rem;"><span class="border border-2 border-info" ></span>
                      {{#if image}}
                          <img src="data:{{contentType}};base64,{{toString image}}" class="rounded">
                          <span class="border-bottom border-bottom-primary"></span>
                      {{else}}
                          <img src="assets/noImage.jpg" alt="No Image" class="rounded">
                      {{/if}}
                      <div class="card-body">
                          <h5 class="card-title">{{location}}</h5>
                      
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item col-lg-8 mx-auto lead"><strong>Number of cats:  {{noCats}}</strong></li>
                        <li class="list-group-item col-lg-8 mx-auto lead"><strong> Status: {{status}}</strong></li>
                      </ul>
                    </div>
                    </div>
                  {{/each}} 
                    <p class="col-lg-8 mx-auto lead">
                        
  
                </div>
                
            </div>
            <br>
                 <div class="p-5 text-center text-bg-primary border border-dark rounded -3">
                <div class="container py-5">
                   
                    <p class="col-lg-8 mx-auto lead">
                        

<h3>Join Us in Making a Difference</h3>
<br>
  <p>We invite you to join us in our mission to help stray cats in Qatar. Whether you're a dedicated volunteer or simply someone who cares about animal welfare, this website provides a way for you to get involved.</p>
  <p>Here's how you can contribute:</p>
  <ul>
    <li>Sign up as a volunteer: Registered users can view feeding station locations, record details about their visits, and report any concerns.</li>
    <li>Spread the word: Tell your friends, family, and neighbors about the Stray Cat Feeding System website and encourage them to get involved.</li>
  </ul>
  <p>By working together, we can create a more compassionate and caring environment for all cats in Qatar.</p>


  </p>
                </div>
                
            </div>
    </div>

<br>
<br>


   
        <div class="container-lg">
          <div class="row">
           
            <!-- /.col-->
            <div class="col-sm-6 col-lg-4">
              <div class="card text-white bg-info">
                <div class="card-body ">
                    <h5>Contact US</h5>
                 <p><br>We appreciate your interest in the Stray Cat Feeding System! If you have any questions, comments, or suggestions, please don't hesitate to reach out to us.</p>
                </div>
                <div class="c-chart-wrapper mt-3 mx-3" style="height:15px;">
                
                </div>
              </div>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
              <div class="card mb-4 text-white bg-danger">
                <div class="card-body ">
                <h5>Location</h5>
        <p><br>Ain Khalid, Aba Al Mashmoom Street, Zone 56, Doha Qatar</p>

                </div>
                <div class="c-chart-wrapper mt-3 mx-3" style="height:39px;  ">
                
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-warning">
                <div class="card-body   ">
              <h5>Phone </h5>
        <p><br>+974 44383838</p>
        <p>+974 55257165</p>


                </div>
                <div class="c-chart-wrapper mt-3 mx-3" style="height:23px;">
                
                </div>
              </div>
            </div>
           
            </div>
            <!-- /.col-->
          </div>
          <!-- /.row-->
          
 
  

</div>
    

</html>

<div class="container-lg">
    
          </div>
             <footer class="footer">
        <p id="foot">Copyright &copy; 2024 Stray Cat Feeding System. All rights reserved.</p>
       
      </footer>
<!-- CoreUI and necessary plugins-->
    <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="vendors/simplebar/js/simplebar.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="vendors/chart.js/js/chart.min.js"></script>
    <script src="vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
    <script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
    <script src="js/main.js"></script>
    <script>
    </script>

  </body>
</html>

